<div id="contact">
    <h1>Envoyez moi un petit message !</h1>
    <p>Je reste à l'écoute de vos petits mots doux.</p>
    <form ng-submit="send()">
        <input ng-model='maildata.name' type="text" placeholder="Nom Prénom" required>
        <input ng-model='maildata.email' type="email" placeholder="mail@removed.com" required>
        <input ng-model='maildata.subject' type="text" placeholder="Sujet" required>
        <textarea ng-model='maildata.mail' placeholder="Votre message" name="" id="" cols="30" rows="10"></textarea>
        <button type="submit">Envoyer</button>
    </form>
        <p ng-show="response">{{response}}</p>
    </p>
</div>