<div id="me">

    <div class="left">
        <img id="avatar" alt="avatar" ng-src="{{infos.avatar}}">
        <div id="id-card">
            <h1 class="name">Miloud Maamar</h1>
            <h2 class="age">{{ infos.birthday}} ans</h2>
            <h2 class="occupation">étudiant en 2ème année de
                <a href="http://www.univ-paris8.fr/Master-Creation-et-Edition-Numeriques">
                    Master CEN à Paris 8
                </a>
            </h2>
        </div>
    </div>
    <div class="right">
        <div id="description">
            <div>
                <h1>Mon parcours</h1>
                <p>
                    Mon cursus universitaire s'est orienté sur un axe plus global que le développement,
                    j'ai ainsi eu la chance de travailler sur les différents aspects d'un projet, de la définition à sa
                    réalisation. J'ai ainsi après avoir acquis mon Bac STI2D (option SIN) en 2013 effectué un DUT
                    Métiers du Multimédia et de l'Internet, suivi d'une licence Création Développement Numérique en
                    Ligne et d'un Master en Création et Edition Numérique.

                </p>
            </div>
        </div>
        <div id="leisures">
            <p id="leisures-bg" ng-bind-html="leisures"></p>
            <p id="leisures-text">
                Si je devais me décrire ?
                Quelques peu timide et reservé, une fois à l'aise, il vous sera difficile de me faire taire. Plus
                sérieusement, en quelques mots,
                j'aime l'art, je reste admiratif de cette capacité que l'individu détient à capturer l'instant, décrire
                une émotion ou un sentiment. J'essaie au mieux de m'imiscer et m'initier dans cette vaste discipline.
                Je partage un intérêt entre la photographie, la musique, et plus globalement le cinéma et les travaux manuels. Et bien entendu, je reste un technophile affirmé bien
                que je garde mes reserves à cet effet, personne ne souhaiterait l'emergence d'un nouveau SKYNET ? .... si ?

            </p>
        </div>
    </div>

</div>