<div ng-show="!viewerOn" id="portfolio">

    <h1 id="master">Portfolio</h1>

    <div ng-class="{active : criterias.length > 0}" id="search-bar">
        <input id="search" type="text" ng-model="search" ng-change="updateFilter()"

               placeholder="Entrez un ou plusieurs termes pour filtrer la recherche">
        <button ng-click="FilterAndOr = !FilterAndOr">Mode {{FilterAndOr ? "ET / AND" : "OU / OR"}}</button>
        <button id="reset" ng-click="resetCriteria()">Réinitialiser la recherche
            <button id="btn-show-hide-filter" ng-click="closeFilter()" ng-class="{active : show}">
                <i ng-class="{filter_on : show, filter_off : !show}"></i>
            </button>
        </button>
    </div>
    <div id="filterContainer" ng-class="{open : show}">
        <ul id="filters">
            <li ng-repeat="tag in allTags |orderBy: '-occurence' | limitTo:tagLimit"
                ng-class="{active : tag.isActive}"
                icon="{{::tag.img}}"
                ng-click="addRemoveSearchCriteria(tag.name)">
                {{::tag.name}}
            </li>
        </ul>
        <div id="more-less-bar">
            <button ng-click="more()">Plus de mots-clés
            </button>
            <button ng-show="tagLimit > tagInitialLimit" ng-click="less()">Moins de mots-clés
            </button>
        </div>
    </div>


    <div id="portfolio-container">
        <article ng-repeat="project in portfolio | limitTo : projectLimit"
                 ng-show="([project] | filterPortfolio:criterias:FilterAndOr).length > 0"
                 id="project-{{project.id}}"
                 ng-click="openInViewer(project)">
            <!--Work in Progress : Filtrage AND / OR -->
            <img ng-src="{{project.preview}}">
            <h1>{{::project.title}}</h1>
        </article>
        <button ng-click="showMore()" ng-class="{unveil : thereIsMore, hidden : !thereIsMore}" ng-show="thereIsMore">Afficher plus</button>
    </div>


</div>
<div ng-show="viewerOn" ng-class="{viewerOn : viewerOn}" id="portfolio-viewer">
    <div id="head_viewer">
        <h1>{{p.title}}</h1>
        <button class="close" ng-click="closeViewer()"></button>
    </div>
    <figure>
        <img ng-src="{{p.preview}}">
        <figcaption>{{p.title}}, {{p.date}}</figcaption>
    </figure>
    <p>{{p.description}}</p>
    <a target="_blank" href="{{p.original}}">Lien vers la ressource</a>
    <ul class="tag-container">
        <li ng-repeat="tag in p.tags"  ng-click="addRemoveSearchCriteria(tag.name); closeViewer()">
            {{tag.name}}
        </li>
    </ul>
    <ul class="skill-container">
        <li ng-click="addRemoveSearchCriteria(skill.name); closeViewer()" ng-repeat="skill in p.skills" data="{{skill.name}}">
            <img ng-src="{{skill.img}}">
        </li>
    </ul>
</div>